doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='http://localhost:3000/footprint.js')
    style.
  body
    .content
      p It works