doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    style.
  body
    .container
        h1.text-center User Clicks
        br
        table.table.table-striped
            each click in clicks 
                tr
                  td= click.elementName
                  td= click.userAction
                  td= click.updated
                  td= click.widget