doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    script(src='/libs/jquery/dist/jquery.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.js')
    script(src='/libs/jasny-bootstrap/dist/js/jasny-bootstrap.js')
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/libs/jasny-bootstrap/dist/css/jasny-bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    script(src='/footprint.js')

    style.
  body
    block content
